.accommodation {
  display: grid;
  gap: 20px;
}

.accommodation h2 {
  font-size: 22px;
  margin-top: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 33px;
}

.hotel-card {
  padding: 5px;
  text-align: left;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(7, 3, 3, 0.2);
}
.hotel-card-text {
  padding: 0px 10px 20px;
}

.hotel-card img {
  width: 250px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}

.popular-hotels {
  grid-template-columns: repeat(4, 1fr);
}

.show-more-btn {
  border: none;
  font-size: 14px;
  margin-top: 24px;
  font-weight: bold;
}
