/****** Accommodation ***********/
.accommodation {
  width: 65%;
  flex: 1;
  margin-right: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default for desktop */
  gap: 20px;
  margin-top: 33px;
}

.hotel-card-text {
  padding: 0px 10px 20px;
}

.show-more-btn {
  border: none;
  font-size: 18px;
  margin-top: 24px;
  font-weight: bold;
  background-color: initial;
  color: black;
  box-shadow: none;
  border-radius: 0px;
}
.card a {
  cursor: default;
}

/* Responsive Styles on Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .accommodation {
    width: 100%;
    margin-right: 0px;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row on tablet */
  }
  .accommodation img {
    width: 100%;
    height: 100px;
  }
  .hotel-card-text {
    padding-bottom: 0px;
  }
  .hotel-card-text h3,
  .hotel-card-text p,
  .hotel-card-text .card-rating {
    margin: 5px 0px;
  }
}

/* Responsive Styles on Mobile */
@media (max-width: 768px) {
  .accommodation {
    order: 2;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #fff !important;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 1 cards per row on mobile */
  }
}
