/****** Filter Styles ***********/
.filter-section {
  text-align: left;
}

.filter-label {
  font-weight: bold;
  margin-right: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-option {
  color: #000;
  display: flex;
  font-weight: bold;
  padding: 14px 19px;
  border-radius: 25px;
  align-items: center;
  text-decoration: none;
  border: 2px solid #d9d9d9;
  justify-content: space-between;
}

.filter-options a:hover {
  background-color: #deebff;
  cursor: default;
}

.filter-option .icon {
  padding-right: 5px;
}

.available-places {
  font-size: 16px;
}

.fa-circle-exclamation {
  margin-right: 5px;
}

/* Responsive Styles on Mobile */
@media (max-width: 768px) {
  .filter-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px !important;
  }

  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-option {
    justify-content: left;
    flex: 1 1 calc(25% - 10px);
  }
}
