/****** Filter Styles ***********/
.filter-section {
  text-align: left;
}

.filter-label {
  font-weight: bold;
  margin-right: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-option {
  color: #000;
  display: flex;
  font-weight: bold;
  padding: 5px 19px;
  border-radius: 25px;
  align-items: center;
  text-decoration: none;
  border: 2px solid #D9D9D9;
  justify-content: space-between;
}

.filter-option:hover {
  background-color: #deebff;
}

.filter-option .icon {
  padding-right: 5px;
}

.available-places {
  font-size: 16px;
}

.fa-circle-exclamation {
  margin-right: 5px;
}

/* Responsive Styles on Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Responsive Styles on Mobile */
@media (max-width: 768px) {
  .filter-section {
    padding: 0px 10px;
  }
  .filter-label,
  .available-places {
    padding-left: 10px;
  }

  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-options {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-option {
    margin: 5px;
    text-align: center;
    justify-content: left;
    flex: 1 1 calc(25% - 10px);
  }
}
