/* Footer Styles */
.site-footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h3 {
  color: #333;
}

.footer-column ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer-column li {
  padding: 5px 0;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column; /* Stack columns vertically */
    align-items: flex-start;
    padding: 25px;
    margin: 0px;
  }

  .footer-column {
    margin: 10px 0; /* Add margin between columns */
  }
}
