/****** Footer Styles ***********/
.footer {
  padding: 20px;
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-column ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer-column li {
  padding: 5px 0;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
  cursor: default;
}

/* Responsive Styles on Mobile */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack columns vertically */
    padding-top: 0px;
  }

  .footer-column {
    margin: 10px 0; /* Add margin between columns */
  }
}
