/****** Header Styles ***********/
.main-header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 15px;
}

.main-nav a {
  color: #333;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.main-nav a:hover {
  color: #0065fc;
  padding-top: 10px;
  border-top: 2px solid #0065fc;
}
