/****** Header Styles ***********/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header .logo img {
  height: 15px;
  padding-top: 10px;
}

.nav {
  padding:  17px 0px 0px 50px;
}
.nav a {
  color: #333;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  
}

.nav a:hover {
  color: #0065fc;
  padding-top: 16px;
  border-top: 2px solid #0065fc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0px;
    margin-top: 20px;
  }

  .logo img {
    padding-top: 0px;
  }

  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
  }

  .nav a {
    flex: 1; /* To make the links take equal space */
    text-align: center; /* Center the text */
    margin-right: 0;
    border-bottom: 2px solid #f2f2f2;
    padding: 16px 0px;
  }

  .nav a:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: 0;
  }
}
