/****** Search Styles ***********/
.find-search {
  /* padding: 20px; */
  text-align: left;
}

.find-search p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.2rem;
}

.search-bar {
  display: flex;
  justify-content: left;
}

.location-icon {
  padding: 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
}
.fa-location-dot {
  color: black;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border-left: none;
  border-right: none;
  border: 1px solid #f2f2f2;
  background-color: transparent;
}

.search-bar button {
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #0074d9;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 2px 4px rgba(7, 3, 3, 0.2);
}

/* Responsive Styles */
@media (min-width: 481px) {
  .search-bar button .fa-magnifying-glass {
    display: none;
  }
}

@media (max-width: 480px) {
  .search-bar button {
    border-radius: 10px;
    padding: 14px;
  }

  .search-bar button .button-text {
    display: none;
  }

  .search-bar button .fa-magnifying-glass {
    display: inline-block;
    color: #f2f2f2;
    font-size: 18px;
  }
}
