/****** Search Styles ***********/
.search-section {
  text-align: left;
}

.search-section p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.2rem;
}

form {
  height: 50px;
  display: flex;
  justify-content: left;
}

input {
  padding: 15px 16px;
  font-size: 14px;
  outline: none;
  font-weight: bold;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: transparent;
}

button {
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 16px;
  background-color: #0074d9;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 2px 4px rgba(7, 3, 3, 0.2);
}

button .fa-magnifying-glass {
  display: none;
}

.location-icon {
  padding: 15px 16px;
  font-size: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
  color: black;
}

/* Responsive Styles on Mobile*/
@media (max-width: 768px) {
  .search-section {
    padding: 0px 20px;
  }

  button .button-text {
    display: none;
  }

  button .fa-magnifying-glass {
    display: inline-block;
    color: #f2f2f2;
    font-size: 18px;
  }

  input {
    width: 100%;
  }
}
