/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-shadow: 0 2px 4px rgba(7, 3, 3, 0.2);
}

.card img {
  object-fit: cover;
  width: 250px;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.popular-cards .card img {
  border-radius: 20px 0px 0px 20px;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
  width: 65%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 33px;
}

.hotel-card-text {
  padding: 0px 10px 20px;
}

.popular-hotels {
  grid-template-columns: repeat(4, 1fr);
}

.show-more-btn {
  border: none;
  font-size: 14px;
  margin-top: 24px;
  font-weight: bold;
}

/****** Popular ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/* Added Styles */
