/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-shadow: 0 2px 4px rgba(7, 3, 3, 0.2);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.popular-cards .card img {
  border-radius: 20px 0px 0px 20px;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Responsive Styles on Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .accommodation-and-popular {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

/* Responsive Styles on Mobile*/
@media (max-width: 768px) {
  .main-container {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .accommodation-and-popular {
    flex-direction: column;
  }
}
