/* Things To Do Styles */
.things-to-do {
  text-align: center;
  margin-top: 50px;
}

.things-to-do h2 {
  margin-bottom: 20px;
  text-align: left;
}

.places-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: row;
  column-gap: 20px; */
}

.place {
  margin: 10px;
  text-align: center;
}

.place img {
  width: 250px;
  height: 80%;
  border-radius: 10px 10px 0px 0px;
  /* transition: transform 0.3s, brightness 0.3s; */
}

.place p {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.caption {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Responsive Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .things-to-do {
    padding-top: 0px;
  }
  .things-to-do h2 {
    margin-top: 0px;
  }
  .place {
    flex: 1 1 calc(20% - 10px);
    height: 200px;
  }
  .place img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .things-to-do {
    margin: 20px;
  }
  .things-to-do h2 {
    padding-left: 20px;
  }
  .places-container {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .place img {
    height: 150px !important;
    width: 350px;
    object-fit: cover;
  }
}
