/****** Things To Do Styles ***********/
.things-to-do {
  text-align: center;
  margin: 0px auto;
}

.things-to-do h2 {
  margin-bottom: 20px;
  text-align: left;
}

.places-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.places-container .place {
  margin: 10px;
  text-align: center;
}

.place img {
  width: 300px;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

.place p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 20px 19px 20px 19px;
}

.caption {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles on Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .place {
    flex: 1 1 calc(20% - 10px);
  }
  .place img {
    width: 100%;
    height: 150px;
  }
}

/* Responsive Styles on Mobile */
@media (max-width: 768px) {
  .things-to-do {
    padding: 20px;
  }
  .places-container {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .place img {
    height: 180px;
    width: 335px;
    object-fit: cover;
  }
}
