/* Things To Do Styles */
.things-to-do {
  text-align: center;
  padding: 20px;
}

.things-to-do h2 {
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.places-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.place {
  margin: 10px;
  text-align: center;
}

.place img {
  width: 300px;
  height: 400px !important;
  border-radius: 10px 10px 0px 0px;
  transition: transform 0.3s, brightness 0.3s;
}

.place p {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.caption {
  margin-top: 0px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .places-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .place {
    flex: 1 0 calc(10% - 10px); /* Two items per row with spacing */
    /* margin: 5px; */
  }
}
@media (max-width: 768px) {
  .place img {
    height: 150px !important;
    object-fit: cover;
  }
  .place {
    margin: 0px;
  }
}
